$mainColor: #320325;
$buttonsBg: linear-gradient(89.85deg, #1F3C4C 4.89%, #4C2249 99.8%);
$hoveredButtonsBg: linear-gradient(89.85deg, #068EDB 4.89%, #9A22B0 99.8%);
$greyColor: rgba(94, 137, 175, 0.6);
$darkBlue: #213B4C;
$numbersColor: rgba(33, 59, 76, 0.05);
$hoveredNumbersColor: rgba(76, 33, 69, 0.13);
$hoveredImage: linear-gradient(0deg, rgba(12, 138, 218, 0.53) 0%, rgba(144, 42, 179, 0.51) 97.72%);
$footerBg: #F7F7F7;
$mainColorOpacity: rgba(50, 3, 37, 0.7);